{% extends 'template.twig' %}

{% block style %}
<style>
    .title{
        text-align: center;
        font-size: 5em;
    }
    
    .logo{
        display: block;
        width: 300px;
        margin: 0 auto;   
    }
    
    .play{
        display: block;
        margin: 0 auto;
        color: #555
    }
</style>    
{% endblock %}

{% block scripts %}
    
{% endblock %}

{% block content %}
<img class="logo" src="http://media.tumblr.com/tumblr_lg2g3hhYne1qdrcbv.jpg" align="middle">
<h1 class="title">Emo Ice Cream Deluxe</h1><br>
<a href="game"><button class="play">Play Now!</button></a>


{% endblock %}