{% extends 'template.twig' %}

{% block style %}
<style>
    .logo{
        text-align: center;
        font-size: 5em;
    }
</style>    
{% endblock %}

{% block scripts %}
    
{% endblock %}

{% block content %}
<h1 class="logo">Emo Ice Cream Deluxe</h1>    


{% endblock %}