<DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	{# blocks enable the outer script to inject code into the page #}
	<link rel="stylesheet" type="text/css" href="/stylesheets/Lumen.css">
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
	{{ block('style') }}
	{{ block('scripts') }}

</head>
<body>
	{{ block('content') }}
</body>
</html>